*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.navContainer {
  font-size: 1rem;
  color: #8b523b;
  font-weight: bold;
  letter-spacing: 1px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  background-color: #cbd2d7;
  color: #040607;
  height: 400px;
}
.navContainer .navInner {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  gap: 10px;
}
.navContainer .navInner a,
.navContainer .navInner a:visited {
  font-size: 1.3rem;
  text-decoration: none;
  color: #040607;
}
.navContainer .navLayer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: solid #040607 1px;
  align-content: center;
  margin: 12px 40px 8px 40px;
  height: 40px;
}
.navContainer .myName {
  font-size: 1.3rem;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.navContainer .date {
  color: #8b523b;
}
.navContainer .attentionOuter {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 12px 40px 8px 40px;
}
.navContainer .attention {
  max-width: 50vw;
}
.navContainer .workPic {
  border-radius: 50%;
  background-size: cover;
  height: 160px;
  width: 160px;
  background-image: url(../img/workPic.jpg);
  z-index: 9999;
  align-self: center;
}
.navContainer .articleTitle {
  font-size: 3rem;
}
.navContainer .articleBody {
  font-size: 0.8rem;
  margin-left: 30px;
}

.layoutContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.createPost {
  display: flex;
  justify-self: flex-end;
  justify-content: flex-end;
  margin-right: 40px;
}

.createPostForm {
  font-size: 1rem;
  color: #8b523b;
  font-weight: bold;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: row;
  border: solid #cbd2d7 1px;
  border-radius: 4px;
  padding: 40px;
  height: 400px;
  width: 400px;
}
.createPostForm .createPostTitle {
  font-size: 1.2rem;
  color: #cbd2d7;
}
.createPostForm .titleInput {
  margin-bottom: 4px;
}
.createPostForm .bodyInput {
  margin-bottom: 4px;
}

.postContainer .blogPost {
  padding: 10px 40px 10px 40px;
  background-color: rgb(26, 30, 33);
}
.postContainer .blogTitle {
  margin-bottom: 4px;
  font-size: 1.6rem;
  font-weight: bolder;
  color: #cbd2d7;
}
.postContainer .blogPost:nth-child(even) {
  background-color: #cbd2d7;
}
.postContainer .blogPost:nth-child(even) .blogTitle {
  color: #040607;
}
.postContainer .blogBody {
  max-width: 60ch;
  margin-bottom: 4px;
  text-indent: 4ch;
  margin-bottom: 10px;
  font-size: 1rem;
  color: #8b523b;
  font-weight: bold;
  letter-spacing: 1px;
}
.postContainer .blogUser {
  font-size: 1rem;
  color: #8b523b;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

footer {
  position: relative;
  font-size: 1rem;
  color: #8b523b;
  font-weight: bold;
  letter-spacing: 1px;
  color: #040607;
  padding: 10px 40px 30px 40px;
  background-color: #cbd2d7;
}
footer a,
footer a:visited {
  color: rgb(26, 30, 33);
}
footer .fishImage {
  position: absolute;
  bottom: 0px;
  -webkit-animation: swim infinite 8s normal ease-in-out;
          animation: swim infinite 8s normal ease-in-out;
  max-height: 30px;
  pointer-events: none;
}

.footer::before {
  content: "";
  height: 1px;
  width: 80%;
  align-self: center;
  justify-content: center;
  justify-self: center;
  margin: 0 auto;
  padding-bottom: 20px;
  display: flex;
  border-top: 1px solid #040607;
}

@-webkit-keyframes swim {
  0% {
    left: 0%;
  }
  49% {
    left: 94%;
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(-1);
  }
  100% {
    left: 0%;
    transform: scaleX(-1);
  }
}

@keyframes swim {
  0% {
    left: 0%;
  }
  49% {
    left: 94%;
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(-1);
  }
  100% {
    left: 0%;
    transform: scaleX(-1);
  }
}/*# sourceMappingURL=stylesheet.css.map */