// Variables
$primary-color: #040607;
$secondary-color: #b5bcc2;
$primary-dark: rgb(26, 30, 33);
$light-accent: #cbd2d7;
$dark-accent: #8b523b;
$primary-font-size: 1rem;
$primary-font-weight: 600;
$image-size: 250px;
// Reset
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

// Mixins
@mixin flexAndCenter() {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
@mixin defaultText() {
  font-size: $primary-font-size;
  color: $dark-accent;
  font-weight: bold;
  letter-spacing: 1px;
}
// Nav styles
.navContainer {
  @include defaultText();
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  background-color: $light-accent;
  color: $primary-color;
  height: 400px;
  .navInner {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    gap: 10px;
  }
  .navInner a,
  .navInner a:visited {
    font-size: 1.3rem;
    text-decoration: none;
    color: $primary-color;
  }
  .navLayer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: solid $primary-color 1px;
    align-content: center;
    margin: 12px 40px 8px 40px;
    height: 40px;
  }
  .myName {
    font-size: 1.3rem;
    max-width: fit-content;
    min-width: fit-content;
    width: fit-content;
  }
  .date {
    color: $dark-accent;
  }
  .attentionOuter {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 12px 40px 8px 40px;
  }
  .attention {
    max-width: 50vw;
  }
  .workPic {
    border-radius: 50%;
    background-size: cover;
    height: $image-size;
    width: $image-size;
    background-image: url(../img/workPic.jpg);
    z-index: 9999;
    align-self: center;
  }
  .articleTitle {
    font-size: 3rem;
  }
  .articleBody {
    font-size: 0.8rem;
    margin-left: 30px;
  }
}

// Main Layout
.layoutContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.homepageContainer {
  height: 100vh;
  background-color: $light-accent;
}

// Post Container
.postContainer {
  .blogPost {
    padding: 10px 40px 10px 40px;
    // background-color: $primary-dark;
    min-height: 375px;
  }
  .blogTitle {
    margin-bottom: 4px;
    font-size: 1.6rem;
    font-weight: bolder;
    color: $light-accent;
    display: flex;
    margin: 0 auto 4px auto;
    max-width: 800px;
  }
  // .blogPost:nth-child(even) {
  //   background-color: $light-accent;
  //   .blogTitle {
  //     color: $primary-color;
  //   }
  // }
  .blogBody {
    max-width: 800px;
    margin: 0 auto 10px auto;
    @include defaultText();
  }
  .readMore {
    @include defaultText();
    font-style: italic;
    max-width: fit-content;
    background: none;
    border: none;
    opacity: 0.7;
  }
  .readMore:hover {
    cursor: pointer;
  }
  .finishPost {
    display: none;
  }
  .blogUser {
    @include defaultText();
    display: flex;
    margin: 0 auto 20px auto;
    max-width: 800px;
  }
}
.postContainerContainer:nth-child(odd) {
  background-color: $primary-dark;
}
.postContainerContainer:nth-child(even) {
  .commentDetails {
    border-bottom: solid $primary-color 1px;
  }
  .commentBox {
    border: solid $primary-color 1px;
    h4 {
      color: $primary-color;
    }
  }
  background-color: $light-accent;
  .blogTitle {
    color: $primary-color;
  }
}
//If posts are loading..
.spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid $dark-accent;
  border-radius: 50%;
  width: 33px;
  height: 33px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.noReplies {
  // @include defaultText();
  color: purple;
  width: 40vw;
  max-width: 500px;
  padding: 10px;
  border-radius: 2px;
  z-index: 999;
  font-size: 3rem;
}

.addCommentContainer {
  display: none;
}
.showCommentInputContainer {
  max-height: 209px;
  position: relative;
}
.showCommentInputButton {
  background: none;
  border: none;
  @include defaultText();
  margin: 0px 0px 0px calc(100% - 300px);
}
.showCommentInputButton:hover {
  cursor: pointer;
}

.showMoreComments {
  background: none;
  border: none;
  @include defaultText();
  margin: 0 auto;
  display: flex;
}
.showAddComments {
  margin: 0 auto 4px auto;
  max-width: 800px;
}
.commentDetailsContainer {
  margin-top: 20px;
  column-count: 2;
}
.commentDetails {
  @include defaultText();
  padding: 10px;
  border-radius: 2px;
  min-height: 78px;
  border-bottom: solid $light-accent 1px;
  break-inside: avoid;
}
.commentBox {
  border: solid $light-accent 1px;
  padding: 12px;
  h4 {
    color: $light-accent;
  }
}
// .blogPost:nth-child(even) {
//   .commentDetails {
//     border-bottom: solid $primary-color 1px;
//   }
//   .commentBox {
//     border: solid $primary-color 1px;
//     h4 {
//       color: $primary-color;
//     }
//   }
// }

.addComment {
  z-index: 999;
  margin: 0px 0px 0px calc(100% - 300px);
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 300px;
  background-color: $dark-accent;
  padding: 8px;
  border-radius: 2px;
  gap: 8px;
  box-shadow: 0px 0px 10px 2px;
  .commentTitle,
  .commentName {
    height: 30px;
    padding: 8px;
    border-radius: 2px;
    border: none;
  }
  .commentBody {
    height: 60px;
    padding: 8px;
    max-width: 284px;
    min-width: 284px;
    width: 284px;
    min-height: 60px;
    border-radius: 2px;
    border: none;
  }
  .commentTitle[type="text"],
  .commentBody[type="text"],
  .commentName[type="text"] {
    @include defaultText();
  }
  .addCommentButton {
    border: none;
    border-radius: 2px;
    height: 30px;
    color: $primary-color;
    font-size: 1rem;
    font-weight: bolder;
  }
  .addCommentButton:hover {
    cursor: pointer;
  }
  .addCommentButton:disabled {
    cursor: default;
  }
}

footer {
  position: relative;
  @include defaultText();
  color: $primary-color;
  padding: 10px 40px 30px 40px;
  min-height: 120px;
  background-color: $light-accent;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  a,
  a:visited {
    color: $primary-dark;
    max-width: fit-content;
    align-self: center;
  }
  .fishImage {
    position: absolute;
    bottom: 0px;
    animation: swim infinite 8s normal ease-in-out;
    max-height: 30px;
    pointer-events: none;
  }
}
.footer::before {
  content: "";
  height: 1px;
  width: 80%;
  align-self: center;
  justify-content: center;
  justify-self: center;
  margin: 0 auto;
  padding-bottom: 20px;
  display: flex;
  border-top: 1px solid $primary-color;
}
@keyframes swim {
  0% {
    left: 0%;
  }
  49% {
    left: calc(100% - 30px);
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(-1);
  }
  100% {
    left: 0%;
    transform: scaleX(-1);
  }
}

// Media Queries
@media (max-width: 1136px) {
  .workPic {
    max-height: 200px;
    max-width: 200px;
  }
}
@media (max-width: 924px) {
  .workPic {
    max-height: 160px;
    max-width: 160px;
  }
}
@media (max-width: 924px) {
  .workPic {
    max-height: 160px;
    max-width: 160px;
  }
}
@media (max-width: 717px) {
  .workPic {
    max-height: 130px;
    max-width: 130px;
  }
}

// Admin Page styles
.adminPageContainer {
  @include defaultText();
  background-color: $primary-dark;
  // background-color: $primary-color;
  height: 100%;
}
.masonryContainer,
.masonryContainer2 {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  gap: 40px;
  flex-wrap: wrap;
  padding: 10px;
  .apPost {
    border: solid $light-accent 2px;
    // background-color: $secondary-color;
    background-color: $primary-dark;
    padding: 20px;
    max-width: 38vw;
    min-width: 38vw;
  }
}
.adminPageHeader,
.apPublished,
.apUnpublished {
  padding: 30px;
  text-align: center;
}
.adminPageHeader {
  font-size: 3rem;
  font-weight: bolder;
}
.editPost {
  display: flex;
  flex-direction: column;
  button,
  div,
  textarea,
  input {
    opacity: 0.7;
    padding: 20px;
  }
  textarea {
    max-width: 100%;
  }
}
.deleteComment {
  opacity: 0.7;
}
// Make Post / Sign in page Container
.makePostContainer {
  background-color: $primary-dark;
  height: 100vh;
  font-weight: 800;
  input {
    padding: 10px;
  }
  .logIn {
    background: $light-accent;
    @include flexAndCenter();
    height: 300px;
    flex-direction: column;
    gap: 8px;
  }
  .logInButton {
    padding: 4px;
    background-color: #7fff00;
  }
  .logInButton:disabled {
    background-color: #fd5c63;
  }
}
.badLogin {
  color: #fd5c63;
  display: none;
  font-size: 1.2rem;
  font-weight: bolder;
}
.backButton,
.backButton:visited {
  @include defaultText();
  text-decoration: none;
  color: $primary-dark;
}
.backButtonAP,
.backButtonAP:visited {
  color: $light-accent;
  text-decoration: none;
  padding: 30px;
  justify-content: center;
  display: flex;
  border: solid $light-accent 1px;
  max-width: fit-content;
  margin: 0 auto;
}
.createPost {
  background-color: $light-accent;
  min-height: 300px;
  padding: 20px;
  @include flexAndCenter();
  flex-direction: column;
  gap: 4px;
  button {
    max-width: 40vw;
  }
  .checkbox {
    margin-left: 4px;
  }
  .mpField {
    max-width: 40vw;
    min-width: 40vw;
  }
  .mpTextArea {
    padding: 10px;
    min-height: 150px;
  }
  .logOut {
    margin-top: 40px;
    display: flex;
    align-content: center;
    gap: 8px;
    div {
      font-weight: 900;
      font-size: 1.2rem;
    }
    button {
      background-color: #fd5c63;
      border-radius: 4px;
      align-self: center;
      padding: 2px;
      justify-self: center;
    }
  }
}
