*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.navContainer {
  font-size: 1rem;
  color: #8b523b;
  font-weight: bold;
  letter-spacing: 1px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  background-color: #cbd2d7;
  color: #040607;
  height: 400px;
}
.navContainer .navInner {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  gap: 10px;
}
.navContainer .navInner a,
.navContainer .navInner a:visited {
  font-size: 1.3rem;
  text-decoration: none;
  color: #040607;
}
.navContainer .navLayer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: solid #040607 1px;
  align-content: center;
  margin: 12px 40px 8px 40px;
  height: 40px;
}
.navContainer .myName {
  font-size: 1.3rem;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.navContainer .date {
  color: #8b523b;
}
.navContainer .attentionOuter {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 12px 40px 8px 40px;
}
.navContainer .attention {
  max-width: 50vw;
}
.navContainer .workPic {
  border-radius: 50%;
  background-size: cover;
  height: 250px;
  width: 250px;
  background-image: url(../img/workPic.jpg);
  z-index: 9999;
  align-self: center;
}
.navContainer .articleTitle {
  font-size: 3rem;
}
.navContainer .articleBody {
  font-size: 0.8rem;
  margin-left: 30px;
}

.layoutContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.postContainer .blogPost {
  padding: 10px 40px 10px 40px;
  background-color: rgb(26, 30, 33);
  min-height: 375px;
}
.postContainer .blogTitle {
  margin-bottom: 4px;
  font-size: 1.6rem;
  font-weight: bolder;
  color: #cbd2d7;
  display: flex;
  margin: 0 auto 4px auto;
  max-width: 800px;
}
.postContainer .blogPost:nth-child(even) {
  background-color: #cbd2d7;
}
.postContainer .blogPost:nth-child(even) .blogTitle {
  color: #040607;
}
.postContainer .blogBody {
  max-width: 800px;
  margin: 0 auto 10px auto;
  font-size: 1rem;
  color: #8b523b;
  font-weight: bold;
  letter-spacing: 1px;
}
.postContainer .readMore {
  font-size: 1rem;
  color: #8b523b;
  font-weight: bold;
  letter-spacing: 1px;
  font-style: italic;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  background: none;
  border: none;
  opacity: 0.7;
}
.postContainer .readMore:hover {
  cursor: pointer;
}
.postContainer .finishPost {
  display: none;
}
.postContainer .blogUser {
  font-size: 1rem;
  color: #8b523b;
  font-weight: bold;
  letter-spacing: 1px;
  display: flex;
  margin: 0 auto 20px auto;
  max-width: 800px;
}

.noReplies {
  font-size: 1rem;
  color: #8b523b;
  font-weight: bold;
  letter-spacing: 1px;
  width: 40vw;
  max-width: 500px;
  padding: 10px;
  border-radius: 2px;
}

.addCommentContainer {
  display: none;
}

.showCommentInputContainer {
  max-height: 209px;
  position: relative;
}

.showCommentInputButton {
  background: none;
  border: none;
  font-size: 1rem;
  color: #8b523b;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0px 0px 0px calc(100% - 300px);
}

.showMoreComments {
  background: none;
  border: none;
  font-size: 1rem;
  color: #8b523b;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0 auto;
  display: flex;
}

.showAddComments {
  margin: 0 auto 4px auto;
  max-width: 800px;
}

.commentDetailsContainer {
  margin-top: 20px;
  -moz-column-count: 2;
       column-count: 2;
}

.commentDetails {
  font-size: 1rem;
  color: #8b523b;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 10px;
  border-radius: 2px;
  min-height: 78px;
  border-bottom: solid #cbd2d7 1px;
  -moz-column-break-inside: avoid;
       break-inside: avoid;
}

.blogPost:nth-child(even) .commentDetails {
  border-bottom: solid #040607 1px;
}

.addComment {
  margin: 0px 0px 0px calc(100% - 300px);
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 300px;
  background-color: #8b523b;
  padding: 8px;
  border-radius: 2px;
  gap: 8px;
  box-shadow: 0px 0px 10px 2px;
}
.addComment .commentTitle,
.addComment .commentName {
  height: 30px;
  padding: 8px;
  border-radius: 2px;
  border: none;
}
.addComment .commentBody {
  height: 60px;
  padding: 8px;
  max-width: 284px;
  min-width: 284px;
  width: 284px;
  min-height: 60px;
  border-radius: 2px;
  border: none;
}
.addComment .commentTitle[type=text],
.addComment .commentBody[type=text],
.addComment .commentName[type=text] {
  font-size: 1rem;
  color: #8b523b;
  font-weight: bold;
  letter-spacing: 1px;
}
.addComment .addCommentButton {
  border: none;
  border-radius: 2px;
  height: 30px;
  color: #040607;
}
.addComment .addCommentButton:hover {
  cursor: pointer;
}
.addComment .addCommentButton:disabled {
  cursor: default;
}

footer {
  position: relative;
  font-size: 1rem;
  color: #8b523b;
  font-weight: bold;
  letter-spacing: 1px;
  color: #040607;
  padding: 10px 40px 30px 40px;
  background-color: #cbd2d7;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
}
footer a,
footer a:visited {
  color: rgb(26, 30, 33);
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  align-self: center;
}
footer .fishImage {
  position: absolute;
  bottom: 0px;
  -webkit-animation: swim infinite 8s normal ease-in-out;
          animation: swim infinite 8s normal ease-in-out;
  max-height: 30px;
  pointer-events: none;
}

.footer::before {
  content: "";
  height: 1px;
  width: 80%;
  align-self: center;
  justify-content: center;
  justify-self: center;
  margin: 0 auto;
  padding-bottom: 20px;
  display: flex;
  border-top: 1px solid #040607;
}

@-webkit-keyframes swim {
  0% {
    left: 0%;
  }
  49% {
    left: calc(100% - 30px);
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(-1);
  }
  100% {
    left: 0%;
    transform: scaleX(-1);
  }
}

@keyframes swim {
  0% {
    left: 0%;
  }
  49% {
    left: calc(100% - 30px);
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(-1);
  }
  100% {
    left: 0%;
    transform: scaleX(-1);
  }
}
@media (max-width: 1136px) {
  .workPic {
    max-height: 200px;
    max-width: 200px;
  }
}
@media (max-width: 924px) {
  .workPic {
    max-height: 160px;
    max-width: 160px;
  }
}
@media (max-width: 924px) {
  .workPic {
    max-height: 160px;
    max-width: 160px;
  }
}
@media (max-width: 717px) {
  .workPic {
    max-height: 130px;
    max-width: 130px;
  }
}
.adminPageContainer {
  font-size: 1rem;
  color: #8b523b;
  font-weight: bold;
  letter-spacing: 1px;
  background-color: rgb(26, 30, 33);
}

.masonryContainer,
.masonryContainer2 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(33.3333333333%, 1fr));
  grid-gap: 10px;
  grid-auto-rows: minmax(180px, auto);
  grid-auto-flow: dense;
  padding: 10px;
}
.masonryContainer .apPost,
.masonryContainer2 .apPost {
  background-color: #b5bcc2;
  padding: 20px;
}

.adminPageHeader,
.apPublished,
.apUnpublished {
  padding: 30px;
}

.editPost {
  display: flex;
  flex-direction: column;
}
.editPost button,
.editPost div,
.editPost textarea,
.editPost input {
  padding: 20px;
}
.editPost textarea {
  max-width: 100%;
}

.makePostContainer {
  background-color: rgb(26, 30, 33);
  height: 100vh;
  font-weight: 800;
}
.makePostContainer input {
  padding: 10px;
}
.makePostContainer .logIn {
  background: #cbd2d7;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 300px;
  flex-direction: column;
  gap: 8px;
}
.makePostContainer .logInButton {
  padding: 4px;
  background-color: #7fff00;
}
.makePostContainer .logInButton:disabled {
  background-color: #fd5c63;
}

.backButton,
.backButton:visited {
  font-size: 1rem;
  color: #8b523b;
  font-weight: bold;
  letter-spacing: 1px;
  text-decoration: none;
  color: rgb(26, 30, 33);
}

.backButtonAP,
.backButtonAP:visited {
  color: #cbd2d7;
  text-decoration: none;
  padding: 30px;
}

.createPost {
  background-color: #cbd2d7;
  min-height: 300px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4px;
}
.createPost button {
  max-width: 40vw;
}
.createPost .checkbox {
  margin-left: 4px;
}
.createPost .mpField {
  max-width: 40vw;
  min-width: 40vw;
}
.createPost .mpTextArea {
  padding: 10px;
  min-height: 150px;
}
.createPost .logOut {
  margin-top: 40px;
  display: flex;
  align-content: center;
  gap: 8px;
}
.createPost .logOut div {
  font-weight: 900;
  font-size: 1.2rem;
}
.createPost .logOut button {
  background-color: #fd5c63;
  border-radius: 4px;
  align-self: center;
  padding: 2px;
  justify-self: center;
}/*# sourceMappingURL=stylesheet.css.map */